:root{
    --salmon: #EF9D70;
    --black: #000000;
    --white: #FFFFFF;
    --blue: #AEDEE0;
}

@font-face {
    font-family: neue-machina;
    src: url(./Neue\ Machina\ Inktrap\ Medium.ttf);
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
    background-color: var(--salmon);
    color: var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
 
html, body {
    height: 100%;
    width: 100%;
}

body{
    transition: all 1s ease;
}
 
body[theme="black"]{
    background-color: var(--black);
}
 
body[theme="black"] .section{
    color: var(--white);
}
 
body[theme="cyan"]{
    background-color: var(--blue);
}
 
body[theme="cyan"] .section{
    color: var(--black);
}
 
body[theme="salmon"]{
    background-color: var(--salmon);
}
 
body[theme="salmon"] .section{
    color: var(--black);
}
 
body[theme="white"]{
    background-color: var(--white);
}
 
body[theme="white"] .section{
    color: var(--black);
}

.imagerotate{
    animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
    from {
      transform: rotate(0deg); /* Initial rotation */
    }
    to {
      transform: rotate(360deg); /* Final rotation */
    }
}